.dark {
  color: white;
  background-color: #1F1F1F
}

.dark .dark-text {
  color: #fff; /* Text color for dark theme */
}

.dark .light-text {
  color: #2D2D2D
}

.moon-icon:hover path {
  stroke: #A445ED
}

.logo:hover path {
  stroke: #A445ED
}

input:focus {
  outline: none;
}